<div class='navbar navbar-inverse navbar-fixed-top' role="navigation">
    <div class='container'>
        <div class="navbar-header">
            <div class="navbar-brand"><a href="/">APPLOGO</a></div>
        </div>
        <ul class='nav navbar-nav navbar-right'>

            <li *ngIf="currentUser.isAuth"><a [routerLink]="['#']">Hello {{currentUser.username}}</a></li>
            <!--<li data-ng-hide="!loading"><a [routerLink]="['login']">Login</a></li>
            <li data-ng-hide="loading"><a [routerLink]="['logout']">Logout</a></li>-->
        </ul>
    </div>
</div>
